<!-- Sección de redes sociales -->
<section class="cid-uKbbFznFQS">
  <div class="container">
    <div class="col-12">
      <h3 class="mbr-section-title align-center display-2">
        <strong>¡Síguenos En Redes!</strong>
      </h3>
      <div class="social-list align-center">
        <a class="iconfont-wrapper bg-facebook m-2" target="_blank" href="#">
          <span class="socicon-facebook"></span>
        </a>
        <a class="iconfont-wrapper bg-twitter m-2" href="#" target="_blank">
          <span class="socicon-twitter"></span>
        </a>
        <a class="iconfont-wrapper bg-instagram m-2" href="#" target="_blank">
          <span class="socicon-instagram"></span>
        </a>
        <a class="iconfont-wrapper bg-tiktok m-2" href="#" target="_blank">
          <span class="socicon-tiktok"></span>
        </a>
      </div>
    </div>
  </div>
</section>

<section class="cid-uKbbFzodxs">
  <div class="container">
    <div class="row">
      <div class="row-links">
        <ul class="header-menu">
          <li class="display-5">
            <a href="#" class="text-white">Inicio</a>
          </li>
          <li class="display-5">
            <a href="#" class="text-white">Cursos</a>
          </li>
          <li class="display-5">
            <a href="#" class="text-white">Blog</a>
          </li>
          <li class="display-5">
            <a href="#" class="text-white">Contacto</a>
          </li>
        </ul>
      </div>
      <div class="mt-4">
        <div class="social-row">
          <div class="soc-item">
            <a href="#" target="_blank">
              <span class="mbr-iconfont socicon-facebook"></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="#" target="_blank">
              <span class="mbr-iconfont socicon-twitter"></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="#" target="_blank">
              <span class="mbr-iconfont socicon-instagram"></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="#" target="_blank">
              <span class="mbr-iconfont socicon-linkedin"></span>
            </a>
          </div>
          <div class="soc-item">
            <a href="#" target="_blank">
              <span class="mbr-iconfont socicon-twitch"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="mt-5">
        <p class="copyright display-7">
          © 2025 - EduSmart - Innovación Educativa. Todos los derechos
          reservados.
        </p>
      </div>
    </div>
  </div>
</section>
