<div class="login-container">
  <div class="login-box">
    <div class="logo"></div>
    <h2>Bienvenido(a)</h2>
    <form>
      <label>Correo</label>
      <input
        [(ngModel)]="email"
        name="email"
        type="email"
        placeholder="Ingresa tu correo"
      />

      <label>Clave<a href="#">Olvidaste tu clave?</a></label>
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Ingresa tu clave"
      />

      <button
        type="submit"
        class="btn signin-btn"
        (click)="onLoginWithEmailAndPassword()"
      >
        Iniciar Sesión
      </button>
    </form>
  </div>

  <div class="hero-box">
    <div class="typing-container">
      <span #typedText class="typed-text"></span><span class="cursor">|</span>
    </div>
  </div>
</div>
