<div class="typeahead">
  <input
    type="text"
    class="typeahead-input"
    [placeholder]="placeholder"
    [(ngModel)]="query"
    (input)="onInput()"
    (keydown)="onKeydown($event)"
    aria-autocomplete="list"
    aria-haspopup="true"
  />

  <ul *ngIf="filtered && filtered.length" class="typeahead-list" role="listbox">
    <li *ngFor="let it of filtered; let i = index"
        [class.focused]="i === focusedIndex"
        (click)="choose(it)"
        role="option">
      {{ getDisplay(it) }}
    </li>
  </ul>
</div>
